extends ../layout

block content
  .page-header
    h3 #{name}'s song profile

  .row
    .col-sm-10
      h4 Summary

      .row
        .col-sm-6
          canvas(id="highest-traits", width="400", height="400")
        .col-sm-6
          p.summary.pre #{summary}


  .row
    .col-sm-10
      h4 Details
  .row
    .col-sm-9
      canvas(id="traits", width="700", height="400")
    .col-sm-3
      .traits-legend

  .row
    .col-xs-12
      h5 Personality

      .row
        each persona in personality
          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body #{persona.self.name}
              .panel-footer
                .graph #{persona.self.percentage}
  .row
    .col-xs-12
      h5 Needs

      .row
        each need in needs
          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body #{need.self.name}
              .panel-footer
                .graph #{need.self.percentage}
  .row
    .col-xs-12
      h5 Values

      .row
        each value in values
          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body #{value.self.name}
              .panel-footer
                .graph #{value.self.percentage}

  script var highestTraits = !{JSON.stringify(highestTraits)}
  script var traits = !{JSON.stringify(traits)}